<div class="banner2" style="background-image: url('http://res.cloudinary.com/lmdn/image/upload/e_art:athena/v1502447497/cocktails-les-plus-caloriques_tgcekt.jpg');">
  <div class="banner-content">
  </div>
</div>
<!-- linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%) -->
